$file-field-size-phone ?= 480px
$file-field-size-tablet ?= 768px
$file-field-size-desktop ?= 992px
$file-field-size-desktop-large ?= 1200px
$file-field-phone-num ?= 2
$file-field-tablet-num ?= 4
$file-field-desktop-num ?= 5
$file-field-desktop-large-num ?= 8

$file-field-file-padding ?= 18px
$file-field-file-background-color ?= #CCC

$file-field-dropzone-outline ?= 2px dashed black;
$file-field-dropzone-outline-offset ?= 0;
$file-field-dropzone-outline-offset-drag ?= 4px;
$file-field-dropzone-hover-color ?= #EfEfEf

$file-field-file-border-radius ?= 12%

clearfix()
    &:before,
    &:after
        content: " "; /* 1 */
        display: table; /* 2 */

    &:after
        clear: both;
.VueFileUploader
    text-align:center
    *
        box-sizing: border-box
    &__dropzone
        transition: all .3s
        clearfix()
        background-color: white
        outline: $file-field-dropzone-outline;
        outline-offset: $file-field-dropzone-outline-offset;
        min-height: 130px;
        width: 100%;
        cursor:pointer
        &:hover
            background-color:$file-field-dropzone-hover-color
            outline-offset: $file-field-dropzone-outline-offset-drag;
        &--drag
            outline-offset: $file-field-dropzone-outline-offset-drag;
    &__file
        float:left
        // margin: $file-field-file-padding
        padding: $file-field-file-padding
        // margin-left: (100%/$file-field-desktop-num);
        width: (100%*( 1/$file-field-phone-num ))
        @media (min-width: $file-field-size-phone)
            width: (100%*( 1/$file-field-tablet-num ))
        @media (min-width: $file-field-size-tablet)
            width: (100%*( 1/$file-field-desktop-num ))
        @media (min-width: $file-field-size-desktop)
            width: (100%*( 1/$file-field-desktop-large-num ))


        &__content
            background-color: $file-field-file-background-color
            width: 100%;
            height: auto;
            padding-bottom: 100%;
            position: relative
            background-position: center;
            background-size: contain
            background-repeat: no-repeat
            border-radius: $file-field-file-border-radius;
            // margin: $file-field-file-padding
    &__remove
        cursor: pointer
        position: absolute
        background-color: #FFF
        width:20px;
        height:20px;
        top: -5px;
        right: -5px;
        text-align:center
        border-radius: 50%;
        box-shadow: 2px 2px 5px black
    &__input
        position: absolute
        top: -9999999px
        left: -9999999px
